extends layout.pug
block content
	h1 Catapult Authorization Data
	if error
		.error #{error}
	- formData = formData || {};
	form(action='/catapult/auth', method='POST').pure-form.pure-form-stacked
		fieldset
			label(for='userId') User Id
			input(type='text', name='userId', required, value=formData.userId).pure-u-1
			label(for='apiToken') Api Token
			input(type='text', name='apiToken', required, value=formData.apiToken).pure-u-1
			label(for='apiSecret') Api Secret
			input(type='text', name='apiSecret', required, value=formData.apiSecret).pure-u-1
			input(type='hidden', name='sid', value=formData.sid)
			button.pure-button.pure-button-primary(type='submit') Save
	.alert
		span These data will be used to reserve new phone number and handle incoming/outcoming messages on it
